<h2> Create a new Survey </h2>

<div id='survey_create_form'>
  <%= form_for @survey do |f| %>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :description %>
      <%= f.text_field :description%>
    </div>
    <div>
      <%= f.submit 'Add questions' %>
    </div>
      <% end %>
</div>
