
<div> <%= @survey.title %> </div>

<div> <%= @survey.description %> </div>




<%= form_for @user_survey do |f| %>
  <%= f.hidden_field @user.id %>
  <%= f.hidden_field @survey.id %>
  <%= f.submit "Create" %>
<% end %>
