<!DOCTYPE html>
<html>
<head>
  <title>VenusGorilla</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>
<body>

    <header id='nav_bar'>
        <h3 id='heading'>Survey Gorilla: We ain't monkeying around here</h3>
      <% if session[:user_id] %>
        <%= link_to image_tag('http://thumbs.gograph.com/gg61606724.jpg', class: 'home_img'), surveys_path %>
        <div class='buttons'>
          <%= button_to 'Create A Survey', new_survey_path(id: session[:user_id]), method: :get %>
          <%= button_to 'Profile', user_path(id: session[:user_id]), method: :get %>
          <%= button_to 'Log out', session_path(id: session[:user_id]), method: :delete %>
        </div>
      <% end %>
    </header>

  <div id='main_body'>

    <%= yield %>

  </div>

</body>
</html>

