<!DOCTYPE html>
<html>
<head>
  <title>VenusGorilla</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <% if session[:user_id] %>
      <%= button_to 'Log out', session_path(id: session[:user_id]), method: :delete %>
    <% end %>

  </header>

<%= yield %>

</body>
</html>

